@charset "utf-8";
/************************************************* global *************************************************/
html,body { margin:0 auto; width:100%; max-width:640px;}
.wrap { width:100%;}
.img-loading-list { background-repeat:no-repeat; background-position:center 0; background-size:cover; background-color:transparent;}
.img-loading-list-none { background:none !important;}
/************************************************* home *************************************************/
.loading-page-html { height:auto;}
/* global */
  /* header */
.header { width:100%; height:4.5rem; background:#282828;}
.header a { display:block; margin-left:0.9rem; width:2.5rem; height:4.5rem; background-image:url(../i/back.jpg);}
.header h1 { margin:1.4rem auto 0; width:7.4rem; height:1.7rem; background-image:url(../i/title.jpg);}
.header h3 { margin:0 auto; width:25rem; height:4.5rem; font-size:1.4rem; line-height:4.5rem; color:#FFF; text-align:center;}
/* index */
html,body,.wrap { height:100%;}
.index { display:block; height:100%; background-color:#DDDA7A;}
  /* contnet */
.index .contnet { background-image:url(../i/bg.png); background-size:100% auto; height:32rem;}
.index .contnet .hd { position:relative; width:100%; height:32rem; z-index:1;}
.index .contnet .hd .cloud { position:absolute; display:block;}
.index .contnet .hd .cloud-1 { top:1.9rem; left:2.1rem; width:2.2rem; height:1.85rem; background-image:url(../i/cloud-1.png); -webkit-animation:float1 4s ease-in-out 0s infinite; animation:float1 4s ease-in-out 0s infinite;}
.index .contnet .hd .cloud-2 { top:3rem; left:28rem; width:2.05rem; height:1.6rem; background-image:url(../i/cloud-2.png); -webkit-animation:float2 2s linear 1s infinite; animation:float2 2s linear 1s infinite;}
.index .contnet .hd .cloud-3 { top:6rem; left:14.6rem; width:3.1rem; height:2rem; background-image:url(../i/cloud-3.png); -webkit-animation:float3 10s linear 0s infinite; animation:float3 10s linear 0s infinite;}
.index .contnet .hd .cloud-4 { top:13rem; left:1.5rem; width:3.65rem; height:2.7rem; background-image:url(../i/cloud-4.png); -webkit-animation:float4 3s linear 0s infinite; animation:float4 3s linear 0s infinite;}
.index .contnet .hd .cloud-5 { top:2.9rem; left:5.6rem; width:3.85rem; height:11.45rem; background-image:url(../i/cloud-5.png); -webkit-animation:float5 4s linear 0.4s infinite; animation:float5 4s linear 0.4s infinite; -webkit-transform-origin:1.7rem 1.7rem; transform-origin:1.7rem 1.7rem;}
.index .contnet .hd .cloud-6 { top:9.8rem; left:23.2rem; width:4.75rem; height:5.55rem; background-image:url(../i/cloud-6.png); -webkit-animation:float6 2s linear 0s infinite; animation:float6 2s linear 0s infinite;}
@-webkit-keyframes float1{0%,100%{left:2.1rem;}50%,52%{left:4rem;}}
@keyframes float1{0%,100%{left:2.1rem;}50%,52%{left:4rem;}}
@-webkit-keyframes float2{0%{-webkit-transform:scale3d(1,1,1);}50%{-webkit-transform:scale3d(1.2,1.2,1.2);}100%{-webkit-transform:scale3d(1,1,1);}}
@keyframes float2{0%{transform:scale3d(1,1,1)}50%{transform:scale3d(1.2,1.2,1.2)}100%{transform:scale3d(1,1,1)}}
@-webkit-keyframes float3{0%{left:14.6rem;}48%{left:33rem;}49%{left:33rem;visibility:hidden;}50%{left:-4rem;visibility:hidden;}51%{left:-4rem;visibility:visible;}100%{left:14.6rem;}}
@keyframes float3{0%{left:14.6rem;}48%{left:33rem;}49%{left:33rem;visibility:hidden;}50%{left:-4rem;visibility:hidden;}51%{left:-4rem;visibility:visible;}100%{left:14.6rem;}}
@-webkit-keyframes float4{0%,100%{top:13rem;}25%{top:13.5rem;}75%{top:12.5rem}}
@keyframes float4{0%,100%{top:13rem;}25%{top:13.5rem;}75%{top:12.5rem}}
@-webkit-keyframes float5{0%,100%{-webkit-transform:rotate(0deg);}25%,30%{-webkit-transform:rotate(-10deg);}60%,65%{-webkit-transform:rotate(10deg);}}
@keyframes float5{0%,100%{transform:rotate(0deg);}25%,30%{transform:rotate(-10deg);}60%,65%{transform:rotate(10deg);}}
@-webkit-keyframes float6{0%,45%,5%,22%,35%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);-webkit-transform:translate3d(0,0,0);}15%,17%{-webkit-transition-timing-function:cubic-bezier(0.755,.050,.855,.060);-webkit-transform:translate3d(0,-15px,0);}30%{-webkit-transition-timing-function:cubic-bezier(0.755,.050,.855,.060);-webkit-transform:translate3d(0,-7px,0);}40%{-webkit-transform:translate3d(0,-2px,0);}}
@keyframes float6{0%,45%,5%,22%,35%{transition-timing-function:cubic-bezier(0.215,.61,.355,1);transform:translate3d(0,0,0)}15%,17%{transition-timing-function:cubic-bezier(0.755,.050,.855,.060);transform:translate3d(0,-15px,0)}30%{transition-timing-function:cubic-bezier(0.755,.050,.855,.060);transform:translate3d(0,-7px,0)}40%{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-2px,0)}}
.index .contnet .bd { position:absolute; bottom:12rem; left:50%; margin-left:-16rem; width:32rem;}
.index .contnet .bd .form-wrap { position:relative; margin:0 auto; width:20.6rem; height:12.3rem; background-image:url(../i/content.png); z-index:2;}
.index .contnet .bd .form li,.index .contnet .bd .form input { display:block; margin-top:1.6rem; margin-left:10.8rem; width:9.5rem; height:2rem; background-color:transparent; font-size:1.5rem; line-height:2rem; color:#282828; border:0;}
.index .contnet .bd .form input.date { font-size:1rem;}
.index .contnet .bd .change { position:absolute; top:3.45rem; left:1.35rem; width:2.1rem; height:2.1rem; background-image:url(../i/change.png); z-index:99998;}
.index .btn { position:absolute; bottom:0; left:50%; margin-left:-16rem; width:32rem; height:9.35rem; background-image:url(../i/btn-bg.png); background-color:#DDDA7A;}
.index .btn .start { display:block; margin:0.7rem auto; width:10.5rem; height:2.6rem; background-image:url(../i/btn.png); border:0;}
.index .btn .start:active { background-image:url(../i/btn-curr.png);}
/* datepage */
.datepage { display:none;}
  /* header */
.datepage .header { position:fixed; top:0; left:0;} 
.datepage .header h1 { background-image:url(../i/title-date.jpg);}
  /* decoration */
.datepage .decoration { position:fixed; top:4.5rem; left:0;}
  /* week */
.datepage .week { position:fixed; top:7.15rem; left:0; margin-bottom:0.7rem; width:100%; height:2rem; background:#FFF;}
.datepage .week li { width:14.28%; font-size:0.9rem; line-height:2rem; font-weight:700; text-align:center; color:#0E0E0E;}
.datepage .week .weekend { color:#FF7900;}
  /* date-list */
.datepage .date-list { margin-top:9.15rem;}
.datepage .date-list .date-month {}
.datepage .date-list .date-month .hd { padding-bottom:0.2rem; font-size:1.3rem; line-height:3rem; font-weight:700; text-align:center; color:#202020; border-bottom:1px solid #EAEAEA;}
.datepage .date-list .date-month .bd { margin-top:0.2rem;}
.datepage .date-list .date-month .bd li { width:14.28%; height:4.6rem; font-size:1.2rem; line-height:4.6rem; text-align:center; color:#888;}
.datepage .date-list .date-month .bd .canCheck { color:#111111;}
.datepage .date-list .date-month .bd .curr { border-radius:6px; background:#282828;}

/* citypage */
.citypage { display:none; background:#EBEBEB;}
  /* header */
.citypage .header h1 { background-image:url(../i/title-city.jpg);}
  /* city-search */
.city-search { margin:0 auto; padding:0.5rem 0; width:28rem;}
.city-search input { display:block; padding:0 1.5rem; width:25rem; height:2.7rem; font-size:1.2rem; line-height:2.7rem; background:#FFF; border-radius:8px; border:0;} 
.city-search p { display:none; font-size:1.2rem; line-height:2.7rem; color:#282828;}
.searchlist { display:none; background:#FFF;}
.searchlist li { padding:0 1.5rem; min-height:4.2rem; border-bottom:1px solid #B2B2B2; font-size:1.3rem; line-height:4.2rem; color:#888888;}
.searchlist li.loading { border:0; text-align:center;}
.positioning { margin:0 auto; width:28.1rem; min-height:2.2rem; padding:1.1rem 1.3rem 1.1rem 1.6rem; background:#FFF;}
.positioning-city { padding-left:2.1rem; width:20rem; font-size:1.5rem; line-height:2.2rem; background-image:url(../i/city-a.jpg); background-position:0 center; background-size:1.6rem auto;}
.positioning-btn { width:5rem; height:2.2rem; background-image:url(../i/city-b.png);}
.hotcity { margin:0 auto; width:31rem;}
.hotcity .hd { padding-left:1.5rem; height:4.5rem; background:#282828; font-size:1.5rem; line-height:4.5rem; color:#FFF;}
.hotcity .bd { background:#FFF; padding:1.3rem 0;}
.hotcity .bd li { width:25%; height:4.5rem; line-height:4.5rem; font-size:1.3rem; color:#888888; text-align:center;}
.citylist { margin:0.5rem auto 0; width:31rem;}
.citylist .hd { padding-left:1.5rem; height:4.5rem; background:#282828; font-size:1.5rem; line-height:4.5rem; color:#FFF;}
.citylist .bd { padding:0 1.4rem; background:#FFF;}
.citylist .bd li { padding-left:0.8rem; height:4.2rem; border-bottom:1px solid #B2B2B2; font-size:1.3rem; line-height:4.2rem; color:#888888; background:url(../i/city-icon.png) no-repeat 26.5rem center; background-size:1.3rem 1.3rem;}
.citypage-1,.citypage-2 { display:none;}
.citypage-2 .bd li { background:none;}
/* weather */
.weather { position:relative; height:100%;}
  /* header */
.weather .header { position:relative; z-index:3;} 
  /* city */
.weather .city { position:absolute; top:-4.7rem; width:100%; height:7.2rem; background:#FFF; z-index:2; -webkit-transition:all 0.4s ease-in-out 0s; transition:all 0.4s ease-in-out 0s;}
.weather .city h2 { padding:0 1.5rem; height:3.3rem; line-height:3.3rem; color:#282828;}
.weather .city h2 strong { font-size:1.6rem; font-weight:500;}
.weather .city h2 span { font-size:0.9rem;}
.weather .city div { padding:0 1.5rem; font-size:1.1rem; line-height:1.8rem;}
.weather .city div p { width:22rem; height:3.6rem; color:#282828;}
.weather .city div a { margin-top:1.8rem; color:#FA5444;}
.weather .city-adverse-a { display:none; margin-top:0.3rem; width:100%; height:2rem; background:#F4CB3D; font-size:1rem; line-height:2rem; color:#C12A00; text-align:center;}
.weather .city-adverse { height:9.2rem;}
.weather .city-adverse .city-adverse-a { display:block;}
.weather .city-show { top:4.5rem;}
  /* content */
.weather .content { display:-webkit-box; display:box; padding:4.5rem 0 6rem; height:100%;}
.map-tips { display:none; position:absolute; top:50%; left:50%; margin:-2rem 0 0 -8.7rem; width:17.4rem; height:2.25rem; background-image:url(../i/tips.png); z-index:988;}
  /* route */
.route { position:fixed; bottom:0; left:50%; margin-left:-16rem; padding-top:2.6rem; width:32rem; height:5.4rem; background:#FFF; z-index:10;}
.route .swiper-container { height:5.4rem;}
.route .route-p1 { margin-top:1rem; margin-left:1rem; height:1.5rem; font-size:1.2rem; font-weight:700; line-height:1.5rem; color:#282828;}
.route .route-p1 span { margin-left:1.2rem;}
.route .route-p2 { margin-top:0.8rem; margin-left:1.2rem; padding-left:0.5rem; height:1.1rem; border-left:0.2rem solid #6AADDB; font-size:1.1rem; line-height:1.1rem; color:#282828;}
.route .route-btn { position:absolute; top:0.9rem; right:1.5rem; width:9rem;}
.route .route-btn span { display:block; width:3.5rem; height:1.5rem; border:1px solid #6AADDB; border-radius:6px; font-size:1rem; line-height:1.5rem; color:#6AADDB; text-align:center;}
.route .swiper-pagination { position:absolute; top:0; left:50%; margin-left:-16rem; width:32rem; height:2.6rem; z-index:2;}
.route .swiper-pagination span { position:relative; display:block; float:left; width:33.3%; height:2.6rem; background:#F5F5F5; font-size:0.9rem; line-height:2.6rem; text-align:center; color:#000;}
.route .swiper-pagination span i { position:absolute; right:0; top:0; width:1px; height:2.6rem; background:#CECECE;}
.route .swiper-pagination .swiper-pagination-bullet-active { width:33.4%; background:#6AADDB; color:#FFF;}
.route .swiper-pagination .swiper-pagination-bullet-active i { background:#5E94B9;}
.route .swiper-pagination .swiper-pagination-bullet-2 i { display:none;}
 /* route-details */
.route-details { position:absolute; display:none; left:50%; margin-left:-16rem; width:32rem; background:#F5F5F5; z-index:9;}
.route-header { display:none; position:fixed; top:0; left:0; width:100%; height:4.5rem; background:#282828; z-index:10;}
.route-header a { display:block; margin-left:0.9rem; width:2.5rem; height:4.5rem; background-image:url(../i/back.jpg);}
.route-details h2,.route-details li { padding:1rem 1.1rem; min-height:2.5rem; border-bottom:1px solid #BCBCBC; line-height:2.5rem; font-size:1.1rem; color:#282828;}
.route-details h2 i { display:inline-block; margin-right:0.6rem; width:0.8rem; height:0.8rem; border:1px solid #59B547; border-radius:50%;}
/* loading */
.loading-wrap { position:fixed; top:0; left:0; width:100%; height:100%; overflow:hidden; z-index:999;}
.loading-bg { width:100%; height:100%; background:#000; opacity:0.8}
.loading-img { position:absolute; margin:-5rem 0 0 -5rem; top:50%; left:50%; width:10rem; height:10rem; background-image:url(../i/loading.gif);}
/* share-wrap */
.share-wrap { position:fixed; left:0; top:0; width:100%; height:100%;}
.share-wrap .share-mask { position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.65);}
.share-wrap .share-box { position:absolute; top:50%; left:50%; margin:-80px 0 0 -150px; width:300px; height:160px; text-align:center;}
.share-wrap .bdsharebuttonbox a { display:inline-block; float:none; margin:0 15px; width:70px; height:70px; background:url(../i/sp_share.png) no-repeat; background-size:230px 150px; text-indent:-100em; overflow:hidden;}
.share-wrap .bdsharebuttonbox .bds_sqq { background-position:0 0;}
.share-wrap .bdsharebuttonbox .bds_qzone { background-position:-80px 0;}
.share-wrap .bdsharebuttonbox .bds_tsina { background-position:0 -80px;}
.share-wrap .bdsharebuttonbox .bds_tqq { display:none; background-position:-160px 0;}
.share-wrap .bdsharebuttonbox .bds_weixin { display:none; background-position:-80px -80px;}
.share-show { opacity:1; z-index:10000; -webkit-transition:opacity 500ms ease-in,z-index 500ms ease-in; transition:opacity 500ms ease-in,z-index 500ms ease-in;}
.share-wrap span { display:inline-block; width:100px; height:30px; font-size:20px; line-height:30px; color:#FFF; text-align:center;}
.share-hide { opacity:0; z-index:-1; -webkit-transition:opacity 500ms ease-in,z-index 500ms ease-in; transition:opacity 500ms ease-in,z-index 500ms ease-in;}
.share-show .share-box { -webkit-animation:trans 600ms 1 ease; animation: trans 600ms 1 ease; opacity:1; }
.share-hide .share-box { -webkit-animation:trans2 500ms 1 cubic-bezier(0.68, .265, .55, 1); animation: trans2 500ms 1 cubic-bezier(0.68, .265, .55, 1); }
@-webkit-keyframes trans{0%{-webkit-transform:translate3d(0,1136px,0)}50%{-webkit-transform:translate3d(0,0,0)}60%{-webkit-transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(0,0,0)}}
@keyframes trans{0%{transform:translate3d(0,1136px,0)}50%{transform:translate3d(0,0,0)}60%{transform:translate3d(0,0,0)}100%{transform:translate3d(0,0,0)}}
@-webkit-keyframes trans2{0%{opacity:1;-webkit-transform:translate3d(0,0,0)}10%{opacity:1;-webkit-transform:translate3d(0,-50px,0)}100%{opacity:0;-webkit-transform:translate3d(0,1136px,0)}}
@keyframes trans2{0%{opacity:1;transform:translate3d(0,0,0)}10%{opacity:1;transform:translate3d(0,-50px,0)}100%{opacity:0;transform:translate3d(0,1136px,0)}}
/* img-adverse */
.img-adverse { -webkit-animation:imgjump 1s ease 0s infinite; animation:imgjump 1s ease 0s infinite;}
@-webkit-keyframes imgjump{0%,100%,20%,53%,80%{-webkit-animation-timing-function:cubic-bezier(0.215,0.61,0.355,1);-webkit-transform:translate3d(0px,0px,0px);}40%,43%{-webkit-animation-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);-webkit-transform:translate3d(0px,-12px,0px);}70%{-webkit-animation-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);-webkit-transform:translate3d(0px,-5px,0px);}90%{-webkit-transform:translate3d(0px,-2px,0px);}}
@keyframes imgjump{0%,100%,20%,53%,80%{animation-timing-function:cubic-bezier(0.215,0.61,0.355,1);transform:translate3d(0px,0px,0px);}40%,43%{animation-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);transform:translate3d(0px,-12px,0px);}70%{animation-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);transform:translate3d(0px,-5px,0px);}90%{transform:translate3d(0px,-2px,0px);}}
/*当屏幕尺寸小于500px时，(4)应用下面的CSS样式*/
@media screen and (max-height: 500px) {}
/*当屏幕尺寸大于500小于600px时，(5)应用下面的CSS样式*/
@media screen and (min-height: 500px) and (max-height: 600px) {}
/*当屏幕尺寸大于600px时，(6,6plus)应用下面的CSS样式*/
@media screen and (min-height: 600px) and (max-height: 700px) {}
/*当屏幕尺寸大于600px时，(6,6plus,ipad)应用下面的CSS样式*/
@media screen and (min-height: 600px) and (max-height: 1500px) {}
/*当屏幕尺寸大于700px时，(ipad)应用下面的CSS样式*/
@media screen and (min-height: 700px) {}