@charset "utf-8";
/**
 * @author  Lyca,qmzmxfy@vip.qq.com
**/
html * { outline: 0; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0) }
html, body { font-family: "microsoft yahei", sans-serif }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0 }
ol, ul { list-style: none }
input, select, textarea { font-size: 100%; }
input, button { -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none }
input[type="text"], input[type="password"], input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none }
input:focus, select:focus { outline: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
abbr, acronym { border: 0; font-variant: normal }
del { text-decoration: line-through }
address, caption, cite, code, dfn, em, th, var, i { font-style: normal; font-weight: 500 }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400 }
q:before, q:after { content: '' }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline }
sup { top: -.5em }
sub { bottom: -.25em }
ins, a { text-decoration: none }
.clearfix:before, .clearfix:after { content: ""; display: table }
.clearfix:after { clear: both }
.clearfix { zoom: 1 }
.fl { float: left }
.fr { float: right }
/* common-tipsbox */
.common-tipsmask {position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.6;z-index:998;}
.common-tipscontent {position:fixed;margin:-6rem 0 0 -11rem; padding:2rem 0 1.5rem;top:50%;left:50%;width:22rem;background:#E7E7E7;border-radius:1rem;z-index:999;}
.common-tipsh { padding:0 1.5rem; font-size:16px; line-height:3rem; text-align:center; color:#333333;}
.common-tipsp { margin-bottom:2rem; padding:0 1.5rem; font-size:13px; line-height:1.6rem; text-align:center; color:#333333;}
.common-tipsbtn { display:block; margin:0 auto; width:6rem; height:2.5rem; background:#51C421; border:0; border-radius:2px; font-size:12px; line-height:2.5rem; color:#FFF; text-align:center;}
/* spinner */
.spinnermask{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.1;z-index:996;}.spinnerbox{position:fixed;margin:-4rem 0 0 -4.5rem;top:50%;left:50%;width:9rem;height:8rem;background:#000;border-radius:0.8rem;opacity:0.8;z-index:997;}.spinner{position:absolute;left:50%;top:50%;margin:-12px 0 0 -12px;width:24px;height:24px;}.container1 > div,.container2 > div,.container3 > div{width:6px;height:6px;background:#FFF;border-radius:100%;position:absolute;-webkit-animation:bouncedelay 1.2s infinite ease-in-out;animation:bouncedelay 1.2s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both;}.spinner .spinner-container{position:absolute;width:100%;height:100%;}.container2{-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg);}.container3{-webkit-transform:rotateZ(90deg);transform:rotateZ(90deg);}.circle1{top:0;left:0;}.circle2{top:0;right:0;}.circle3{right:0;bottom:0;}.circle4{left:0;bottom:0;}.container2 .circle1{-webkit-animation-delay:-1.1s;animation-delay:-1.1s;}.container3 .circle1{-webkit-animation-delay:-1.0s;animation-delay:-1.0s;}.container1 .circle2{-webkit-animation-delay:-0.9s;animation-delay:-0.9s;}.container2 .circle2{-webkit-animation-delay:-0.8s;animation-delay:-0.8s;}.container3 .circle2{-webkit-animation-delay:-0.7s;animation-delay:-0.7s;}.container1 .circle3{-webkit-animation-delay:-0.6s;animation-delay:-0.6s;}.container2 .circle3{-webkit-animation-delay:-0.5s;animation-delay:-0.5s;}.container3 .circle3{-webkit-animation-delay:-0.4s;animation-delay:-0.4s;}.container1 .circle4{-webkit-animation-delay:-0.3s;animation-delay:-0.3s;}.container2 .circle4{-webkit-animation-delay:-0.2s;animation-delay:-0.2s;}.container3 .circle4{-webkit-animation-delay:-0.1s;animation-delay:-0.1s;}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);}40%{transform:scale(1.0);}}

@-webkit-keyframes loading{
0%{-webkit-transform:translate3d(0px,0,0);background-position:-100px center;}
100%{-webkit-transform:translate3d(0px,0,0);background-position:0 center;}
}
@keyframes loading{
0%{transform:translate3d(0px,0,0);background-position:-100px center;}
100%{transform:translate3d(0px,0,0);background-position:0 center;}
}
/* toshare */
.toshare {display:none;position:fixed;left:0;top:0;width:100%;height:100%;overflow:hidden;z-index:99999;}
.toshare div {width:100%; height:100%;background:#000;opacity:0.8;}
.toshare img{position:absolute;top:0;left:0;width:100%;}