.sky .icons_bg {
  background: url("http://i.tq121.com.cn/i/weather2017/weather_icon_w.png") no-repeat;
}

.sky .icons_bg_t {
  background: url("http://i.tq121.com.cn/i/weather2017/weather_icon_b.png") no-repeat;
}

.icons_bg {
  background: url("http://i.tq121.com.cn/i/weather2017/weather_icon_b.png") no-repeat;
}

.icons_bg_t {
  background: url("http://i.tq121.com.cn/i/weather2017/weather_icon_b.png") no-repeat;
}

.housr_icons {
  background: url("http://i.tq121.com.cn/i/weather2017/weather_icon_b.png") no-repeat;
}

.housr_icons_w {
  background: url("http://i.tq121.com.cn/i/weather2017/weather_icon_w.png") no-repeat;
}

.wind-icon {
  display: inline-block;
  height: 18px;
  width: 25px;
  background: url(http://i.tq121.com.cn/i/weather2017/weather_icon_fx.png) no-repeat;
}

.S {
  background-position: 0px -25px
}

.N {
  background-position: -25px -25px
}

.W {
  background-position: -50px -25px
}

.E {
  background-position: -75px -25px
}

.NE {
  background-position: -106px -25px
}

.NW {
  background-position: -125px -25px
}

.SE {
  background-position: -150px -25px
}

.SW {
  background-position: -185px -25px
}

.WW {
  background-position: -206px -25px
}

/* .sky {
  .S {
    background-position: 0px 0px
  }

  .N {
    background-position: -25px 0px
  }

  .W {
    background-position: -50px 0px
  }

  .E {
    background-position: -75px 0px
  }

  .NE {
    background-position: -106px 0px
  }

  .NW {
    background-position: -125px 0px
  }

  .SE {
    background-position: -150px 0px
  }

  .SW {
    background-position: -185px 0px
  }

  .d00 {
    background-position: 0 0
  }

  .d01 {
    background-position: -80px 0
  }

  .d02 {
    background-position: -160px 0
  }

  .d03 {
    background-position: -240px 0
  }

  .d04 {
    background-position: -320px 0
  }

  .d05 {
    background-position: -400px 0
  }

  .d06 {
    background-position: -480px 0
  }

  .d07 {
    background-position: -560px 0
  }

  .d08 {
    background-position: -640px 0
  }

  .d09 {
    background-position: -720px 0
  }

  .d10 {
    background-position: -800px 0
  }

  .d11 {
    background-position: -880px 0
  }

  .d12 {
    background-position: 0 -80px
  }

  .d13 {
    background-position: -80px -80px
  }

  .d14 {
    background-position: -160px -80px
  }

  .d15 {
    background-position: -240px -80px
  }

  .d16 {
    background-position: -320px -80px
  }

  .d17 {
    background-position: -400px -80px
  }

  .d18 {
    background-position: -480px -80px
  }

  .d19 {
    background-position: -560px -80px
  }

  .d20 {
    background-position: -640px -80px
  }

  .d21 {
    background-position: -720px -80px
  }

  .d22 {
    background-position: -800px -80px
  }

  .d23 {
    background-position: -880px -80px
  }

  .d24 {
    background-position: 0 -160px
  }

  .d25 {
    background-position: -80px -160px
  }

  .d26 {
    background-position: -160px -160px
  }

  .d27 {
    background-position: -240px -160px
  }

  .d28 {
    background-position: -320px -160px
  }

  .d29 {
    background-position: -400px -160px
  }

  .d30 {
    background-position: -480px -160px
  }

  .d31 {
    background-position: -560px -160px
  }

  .d53 {
    background-position: -640px -160px
  }

  .d99 {
    background-position: -720px -160px
  }

  .d32 {
    background-position: -800px -160px
  }

  .d49 {
    background-position: -880px -160px
  }


  .d54 {
    background-position: 0 -240px
  }

  .d55 {
    background-position: -80px -240px
  }

  .d56 {
    background-position: -160px -240px
  }

  .d57 {
    background-position: -240px -80px
  }

  .d58 {
    background-position: -320px -160px
  }

  .d301 {
    background-position: -400px -160px
  }

  .d302 {
    background-position: -480px -160px
  }

  .n00 {
    background-position: -560px -160px
  }

  .n01 {
    background-position: -640px -160px
  }

  .n04 {
    background-position: -720px -160px
  }

} */

.d00 {
  background-position: 0 0
}

.d01 {
  background-position: -80px 0
}

.d02 {
  background-position: -160px 0
}

.d03 {
  background-position: -240px 0
}

.d04 {
  background-position: -320px 0
}

.d05 {
  background-position: -400px 0
}

.d06 {
  background-position: -480px 0
}

.d07 {
  background-position: -560px 0
}

.d08 {
  background-position: -640px 0
}

.d09 {
  background-position: -720px 0
}

.d10 {
  background-position: -800px 0
}

.d11 {
  background-position: -880px 0
}

.d12 {
  background-position: 0 -80px
}

.d13 {
  background-position: -80px -80px
}

.d14 {
  background-position: -160px -80px
}

.d15 {
  background-position: -240px -80px
}

.d16 {
  background-position: -320px -80px
}

.d17 {
  background-position: -400px -80px
}

.d18 {
  background-position: -480px -80px
}

.d19 {
  background-position: -560px -80px
}

.d20 {
  background-position: -640px -80px
}

.d21 {
  background-position: -720px -80px
}

.d22 {
  background-position: -800px -80px
}

.d23 {
  background-position: -880px -80px
}

.d24 {
  background-position: 0 -160px
}

.d25 {
  background-position: -80px -160px
}

.d26 {
  background-position: -160px -160px
}

.d27 {
  background-position: -240px -160px
}

.d28 {
  background-position: -320px -160px
}

.d29 {
  background-position: -400px -160px
}

.d30 {
  background-position: -480px -160px
}

.d31 {
  background-position: -560px -160px
}

.d53 {
  background-position: -640px -160px
}

.d99 {
  background-position: -720px -160px
}

.d32 {
  background-position: -800px -160px
}

.d49 {
  background-position: -880px -160px
}

.d54 {
  background-position: 0 -240px
}

.d55 {
  background-position: -80px -240px
}

.d56 {
  background-position: -160px -240px
}

.d57 {
  background-position: -240px -80px
}

.d58 {
  background-position: -320px -160px
}

.d301 {
  background-position: -400px -160px
}

.d302 {
  background-position: -480px -160px
}

.n00 {
  background-position: -560px -160px
}

.n01 {
  background-position: -640px -160px
}

.n04 {
  background-position: -720px -160px
}